a:hover{
    color: #f33;
}
body{
    background-color: #f0f0f0;
}
/*头部样式*/
header{
    height: 77px;
    overflow: visible;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.headerin{
    width: 1200px;
    margin: 0 auto;

}
.headerin>.logo{
    background:url(../img/logo1.png) no-repeat;
    width: 198px;
    height: 77px;
    float: left;
}
.headerin>nav{
    float: right;
    width: 680px;
}

.headerin>nav>ul{
    width: 606px;
    float: left;
    overflow: hidden;
}
.headerin>nav>ul>li{
    float: left;
   
}
.headerin>nav>ul>li>a{
    display: block;
    width: 121px;
    text-align: center;
    font: 16px/77px microsoft yahei;
    
}
.headerin>nav>ul>li>a.curr{
    color: red;
}
.headerin>nav>.loginbox{
    position: relative;
    width: 74px;
    width: 73px;
    float: right;
    border-top: 4px solid #fff;
}
.headerin>nav>.loginbox>.up{
    width: 72px;
    height: 72px;
    cursor: pointer;
    background: url(../img/iconArrB.png) no-repeat;
    background-position:  right center;
}
.headerin>nav>.loginbox>.up>.iconperson{
    position: absolute;
    display: block;
    cursor: pointer;
    width: 29px;
    height: 29px;
    background: url(../img/iconPerson.png) no-repeat;
    left: 12px;
    top: 20px;
}
.headerin>nav>.loginbox>.down{
    position: absolute;
    width: 150px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
    top: 72px;
    left: -101px;
    border-top:  none;
    font-size: 14px;
    line-height: 30px;
    padding: 24px 12px;
    display:none;
}
.headerin>nav>.loginbox:hover>.down{
    display:block;
}
.headerin>nav>.loginbox>.down>.btnLogin{
    display: block;
    font: 14px/35px Microsoft Yahei;
    text-align: center;
    background-color: #f33;
    color: #fff;
    margin-bottom: 10px;
}
.headerin>nav>.loginbox>.down .inputText{
    width: 124px;
    height: 24px;
    border: 1px solid #999;
    border-right: none;
}
.headerin>nav>.loginbox>.down .inputBtn{
    box-sizing:content-box;
    width: 24px;
    height: 24px;
    border: 1px solid #999;
    border-left: none;
    cursor: pointer;
    background: #fff url(../img/btnSrh.png) no-repeat center ;
}
.submenu {
    font: 11px/20px Microsoft Yahei;
    width: 1200px;
    margin: 10px auto 10px;
}
/* main */
.main{
    width: 1200px;
    margin: 0 auto;
}
.main>.mulu{
   line-height:32px;
}
.pageContent{
    padding: 75px 0 80px;
    background-color: #fff;
}
.pageContent>.up{
    border-bottom: 1px solid #ccc;
    padding: 0 60px 28px;
    overflow: hidden;
}
.pageContent>.up>.cform{
    float: left;
    color: #666;
    width: 437px;
    line-height: 1;
}
.pageContent>.up>.cform>h2{
    margin-bottom: 12px;
    font: 18px/32px microsoft Yahei;
    color: #000;
}
.pageContent>.up>.cform>.inputText{
    display: block;
    height: 27px;
    width: 100%;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.pageContent>.up>.cform>.taText{
    display: block;
    height: 95px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.pageContent>.up>.cform>.inputBtn{
    display: block;
    height: 48px;
    width: 150px;
    background-color: #f33;
    color: #fff;
    text-align: center;
    font: 18px/32px microsoft Yahei;
    border: 0;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 22px;
}
.pageContent>.up>.cform>.location{
    height: 48px;
    font: 14px/24px microsoft Yahei;
    padding: 40px 0 0 48px;
    background: url("../img/iconLocation.png") no-repeat 0 40px;

}
.pageContent>.up>.map{
    float: right;
}
.pageContent>.down{
    padding-top: 38px;
    font:14px/90px microsoft Yahei;
}

.pageContent>.down .left{
    float: left;
    width: 560px;
    text-align: right;
}
.pageContent>.down .center{
    float: left;
    font: 14px/63px Microsoft yahei;
    text-align: center;
    width: 78px;
}   
.pageContent>.down .right{
    float: right;
    width: 560px;
}

.pageContent .iconTel{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/iconTel.png") no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
.pageContent .iconEmail{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/iconEmail.png") no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.pageContent .down .line2{
    line-height: 46px;
}
.pageContent .down .line2 .left{
    padding-right: 100px;
    width: 460px;
}
.pageContent .down .line2 .right{
    padding-left: 100px;
    width: 460px;
}
.pageContent .down .line3{
    line-height: 63px;
}
.pageContent .down .line3 .btnGray{
    height: 63px;
    width: 200px;
    font: 18px/63px microsoft Yahei;
    background-color: #e5e5e5;
    display: inline-block;
    text-align: center;
}
.pageContent .down .line3 .btnRed{
   height: 63px;
   width: 280px;
   font: 18px/63px Microsoft yahei;
   background-color: #f33;
   color: #fff;
   display: inline-block;
   text-align: center;
}

/*页脚*/
footer{
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 84px;
    background-color: #f33;
    color: white;
    width: 100%;
}